<div class = "row header-row">
  <div class = "col-md-6  col-md-offset-1">
    <span id="logo">FOCUS</span>
    <ul class="list-inline">
      <li><a link="#">About</a></li>
      <li><a link="#">Our Plans</a></li>
      <li><a link="#">Blog</a></li>
      <li><a link="#">Contact Us</a></li>
    </ul>
  </div>
  
  <div class="col-md-2 col-md-offset-2">
    <ul class="list-inline">
      <li><a link="#">Sign in</a> | <a link="#">Log in</a></li>

    </ul>
  </div>
</div>